<%# <div class="box flex"> %>
<%= form_for @recipe do |f| %>
  <%= f.label :Title_your_recipe %>
  <%= f.text_field :name %>

  <%= f.label :author %>
  <%= f.text_field :author %>
  <br>
  <p><strong> Content: </strong></p>
  <%= f.text_area :content, size: "64x10" %>
  <br>
  <%= f.label :image %>
  <%= f.file_field :image %>
  <br>
  <%= f.submit %>
<% end %>
<%# </div> %>
