  <!DOCTYPE html>
<html>
  <head>
    <title>Shit I Can Cook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
      <div id ="signin">
        <% if user_signed_in? %>
          <%= current_user.email %> | <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> | <%= link_to "Home", recipes_path %>
        <% end %>
      </div>

      <div class="container">

        <%= flash[:alert] %>
        <%= flash[:notice] %>

        <div id="left"></div>
        <div id="right"></div>

        <%= yield %>
      </div>  
   
  </body> 
</html>